* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	position: relative;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

body {
	background-image: url("static/cream_dust.png");
	font-family: "Open Sans", Arial;
	font-size: 17px;
	color: #444;
	padding-bottom: 50px;
}

.wrapper {
	width: 700px;
	margin: auto;
}

.header {
	margin-top: 50px;
	margin-bottom: 50px;

}

.header div {
	float: left;
}

.textleft {
	width: 250px;
	text-align: right;
	padding-right: 25px;
}

.igel, .igel img {
	width: 200px;
}

.igel:hover, .igel_left:hover, .igel_right:hover {
	-webkit-animation-name: bounce;
}
.igel_left:active {
	-webkit-animation-name: fadeOutLeftBig;
}
.igel_right:active {
	-webkit-animation-name: fadeOutRightBig;
}

.textright {
	width: 250px;
	text-align: left;
	padding-left: 25px;
}

h1 {
	color: #333;
	font-size: 50px;
	line-height: 121px;
	font-style: italic;
	text-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}

.post {
	background-color: #fff;
	border-top: 5px solid #d86135;
	border-bottom: 5px solid #d86135;
	padding: 50px;
	padding-bottom: 35px;
	margin-bottom: 50px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}

.post a {
	color: #444;
	text-decoration: none;
	border-bottom: 2px solid #d86135;
}

.post ul, .post ol {
	line-height: 27px;
	margin-left: 25px;
	margin-bottom: 15px;
}

.post blockquote {
	padding-left: 25px;
	border-left: 5px solid #d86135;
}

/* TEXT */

h2, p {
	color: #444;
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 15px;

}

/* IMAGE */

.image {
	text-align: center;
	padding: 0px;
}

.image img {
	max-width: 700px;

}

.description {
	padding: 25px;
	padding-bottom: 10px;
	padding-left: 50px;
	text-align: left;
}

/* QUOTES */

.quote blockquote {
	font-style: italic;
	font-weight: bold;
	padding-left: 0px;
	border: none;
}

.quote blockquote:before {
	content: '»';
	padding-right: 5px;
}
.quote blockquote:after {
	content: '«';
	padding-left: 5px;
}
.quote blockquote:before, .quote blockquote:after {
	font-size: 30px;
	position: relative;
	top: 2px;
	font-weight: normal;
	color: #aaa;
	line-height: 17px;
}

.quote .source, .quote .source p {
	color: #aaa;
}

.quote .source:before {
	content: '–';
	float: left;
	padding-right: 5px;
}
/* Audio */
.audio iframe.tumblr_audio_player {
	width: 600px;
}

/* video */
.video {
	text-align: center;
	padding: 0px;
}

.video iframe {
	width: 100%;
	height: 394px;
}

/* pagination */
.pagination a {
	display: block;
	color: #444;
	text-decoration: none;
	line-height: 32px;
	background-size: 50px auto;
	background-repeat: no-repeat;
}
.pagination .igel_left {
	background-image: url('static/miniigel_left.png');
	padding-left: 60px;
	float: left;
	margin-left: 50px;
}
.pagination .igel_right {
	background-image: url('static/miniigel_right.png');
	text-align: right;
	padding-right: 60px;
	background-position: right center;
	float: right;
	margin-right: 50px;
}

@media only screen and (max-width: 700px){
	/* code here */
}